<h1> Contact Us </h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Your form is valid!!!</h5>

   <label>
       Name:
       <input type="text" formControlName="name">
       <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
          <div *ngIf="messageForm.controls.name.errors.required">Name is Required</div>
         </div>
    </label>
    <label>
        Message:
        <textarea formControlName="message"></textarea>
        <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
           <div *ngIf="messageForm.controls.message.errors.required">Message is Required</div>
          </div>
     </label>
     <br/><br/>
     <input type="submit" value="Send Message" class="cta">
</form>
<br><br>

<div *ngIf="success" class="result">
  <strong>Name: </strong>
  <span>{{ messageForm.controls.name.value}}</span>
  <br><br>
  <strong>Message: </strong>
  <span>{{ messageForm.controls.message.value}}</span>
</div>
